.pokemon-mobile-list {
  width: 100%;
  height: 100vh;
  background-color: var(--gray-300);

  position: fixed;

  margin-top: 10rem;
  border-radius: 50px 50px 0px 0px;

  padding: 3.6rem;

  position: relative !important;
  overflow: hidden !important;

  @media screen and (max-width: 1280px) {
    padding: 3.6rem 2rem;
  }

  .content{
    h1{
      font-size: 2.2rem;
      margin-bottom: 1.2rem;
    }
  }

  .pokemon-container {
    width: 100%;
    height: 100%;
    overflow: auto !important;  

    padding-bottom: 24rem !important;

    position: relative;

    &::-webkit-scrollbar {
      width: 12px;
      border-radius: 9px;

      margin-left: 1.6rem;
    }

    &::-webkit-scrollbar-track {
      background: var(--white);
    }

    &::-webkit-scrollbar-thumb {
      height: 20px;
      background-color: var(--gray-200);
      border-radius: 20px;
    }
  }
}
